@import '/src/styles/mixins/responsive.scss';
header {
    .nav {
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            align-items: center;
            padding: 40px;
            margin: 0;
      
            li {
                display: inline-block;
                margin-right: 10px;
        
                a {
                position: relative;
                color: rgb(176,176,176);
                text-decoration: none;
                transition: 0.2s;

                    & h3 {
                        // position: absolute;
                        // right: 0;
                        // left: 0;
                        // top: -30px;
                        // bottom: 0;
                        margin: 0 auto;
                        text-align: center;
                        width: 100%;
                        font-size: 20px;
                        color: #5a5a5a;
                        width: 120px;
                    }
                
                    &:hover {
                        color: white;
                    }
                }
    
                @include desktop {
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
    
            @include desktop {
                display: block;
                display: grid;
                gap: 37px;
                padding: 4rem;
                font-size: 20px;
            }
        }
    
        @include desktop {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            gap: 1.5rem;
            background-color: black;
            transition: 1s;
            transform: translateY(-250vh);
            z-index: 1;
        }
    }

    .responsive-site {

        .site-title-responsive {
            display: none;
            text-decoration: none;
            color: white;
            margin: 0 auto;

            @include desktop {
                display: block;    
            }
        }

        @include desktop {
            position: relative;
            width: 100%;
            display: flex;
            padding: 15px;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;
        }
    }
    
    .nav-btn {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: aliceblue;
        display: none;
    
        @include desktop {
            position: absolute;
            right: 0;
            top: 15px;
            display: block;
            float: right;
            padding: 15px;
            // z-index: 1;
        }
    }
    
    .responsive_nav {
        transform: none;
    }
}

.active {
    position: relative;
    color: white !important;
    font-weight: bold;
    transition: 0.2s;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        width: 50px;
        height: 50px;
        background-image: url('../../../public/images/dotFlame.png');
        background-size: cover;
        background-repeat: no-repeat;

        @include desktop {
            display: none;
        }
    }
}