@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;1,100;1,200&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sarabun', sans-serif;
    background-image: url('../public/images/black-smooth-textured-paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu nền của thanh cuộn */
  border-radius: 8px; /* Độ cong góc của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu nền của thanh cuộn khi hover */
}

.carousel {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 20px;
  height: 600px;
}

.carousel-button {
  padding: 10px 12px;
  background-color: rgba(128,128,128,0.4);
  border: none;
  border-radius: 3px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.carousel-button svg {
  font-size: 20px;
  color: white;
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.carousel-image {
  width: 215px;
  height: 165px;
  /* object-fit: cover; */
  margin: 0 50px;
  transition: transform 0.3s ease-in-out;
}
img {
  margin-left: 15px;
  margin-right: 15px;
  transition: all 3s ease;

}

.center {
  transform: scale(1.4) translateY(50px) translateX(14px);
  transition: all 0.4s ease;
  animation: jumpCenter 0.4s ease;
  /* background-image: url('../public/images/shadow-bottom.png'); */
}

.container-img:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: -200px;
  right: 0;
  left: 47px;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 130px;
  background-image: url('../public/images/shadow-bottom.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.container-img:nth-child(2):after,
.container-img:nth-child(4):after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: 0;
  left: 47px;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 130px;
  background-image: url('../public/images/shadow-bottom.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.container-img {
  position: relative;
  right: 15px;
}

.pre-center {
  opacity: 0.5;
  transform: scale(1) translateY(20px) translateX(14px);
  transition: all 0.4s ease;
  animation: jumpPreCenter 0.4s ease;
}

.container-img .pre-center:nth-child(4) {
  transform: scale(1) translateY(20px) translateX(50px);
}

.last {
  opacity: 0.5;
  transform: scale(0.8) translateY(-50px) translateX(14px);
  transition: all 0.4s ease;
  animation: jumpLast 0.4s ease;

}

.carousel-dot {
  display: table-cell;
  width: 30px;
  height: 3px;
  /* border-radius: 2px; */
  background-color: rgba(128,128,128,0.4);
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dot.actives {
  background-color: rgba(255, 255, 255, 0.7);
}

.pointer-carousel {
  display: flex;
  justify-content: space-around;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
}

.carousel-button:hover {
  background-color: rgba(128,128,128,0.7);
}


/* .right{
  animation: jump 0.4s ease;
} */

@keyframes jump {
  0% {
    transform: translateX(0px) ; /* Không có sự thay đổi vị trí ban đầu */
  }
  100% {
    transform: translateX(20px) 
  }
  
}

@keyframes jumpCenter {
  0% {
    transform: scale(1.4) translateY(50px)  ; /* Không có sự thay đổi vị trí ban đầu */
  }
  100% {
    transform: scale(1.4) translateY(50px) translateX(14px)
  }
  
}

@keyframes jumpPreCenter {
  0% {
    transform: scale(1) translateY(20px)  ; /* Không có sự thay đổi vị trí ban đầu */
  }
  100% {
    transform: scale(1) translateY(20px) translateX(14px)
  }
  
}
@keyframes jumpLast {
  0% {
    transform: scale(0.8) translateY(-50px)  ; /* Không có sự thay đổi vị trí ban đầu */
  }
  100% {
    transform: scale(0.8) translateY(-50px) translateX(14px)
  }
  
}

@media (max-width: 1380px) {
  body {
    height: 170vh;
  }

  .carousel-images {
    overflow: hidden;
  }
}

@media (max-width: 1180px) {
  .carousel-image {
    width: 150px;
    height: 120px;
  }

  .content {
    right: -20px;
  }
}

@media (max-width: 818px) {
  .carousel-images {
    overflow: hidden;
  }
}

@media (max-width: 414px) {
  .description-food {
    width: 330px !important;
    height: unset !important;
    margin-bottom: 45px !important;
  }

  .carousel-image {
    width: 130px;
    height: 100px;
  }

  body {
    height: 170vh;
  }
}