@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import '/src/styles/mixins/responsive.scss';

.contentBanner {
    font-family: "DM Serif Display", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 78px !important;
}